includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    paths:
        - src/
    excludePaths:
        - src/Language/LanguageController.php
        - src/Elementor/
    ignoreErrors:
        - '#UniversityMultilang\\Translation\\Metabox\\TermLanguageMetabox::\$translationService is never read, only written#'
